{% extends "base.html" %}

{% block content %}
<div class="panel panel-success">
    <div class="panel-body">
<h1>Please login</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.username(placeholder="username") }}
    <span class="error">
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Sign in</button>
    <a class="btn btn-sm btn-success" href="register">Register</a>
    <a class="btn btn-sm btn-danger" href="/">Cancel</a>
</form>
    </div>
</div>
{% endblock %}